@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer utilities {
  .shrink-on-empty:empty {
    padding: 0;
    margin: 0;
  }
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
